.idea
.vscode
.env

# Ignore persistent data for monitoring stack
grafana-data/
prometheus-data/

# Ignore dns configuration, in developing state
dns/*
!dns/README.md

# Ignore watchtower token file used for prometheus metrics
watchtower_token

# Ignore ACME certificates storage
traefik/letsencrypt/

# Ignore logs
homepage/config/logs/
homepage/config/custom*
homepage/config/docker.yaml
homepage/config/kubernetes.yaml
homepage/config/proxmox.yaml

# Ignore uptime-kuma data
uptime-kuma/data/

# Ignore booklore data and configuration
booklore/data/
booklore/books/
booklore/bookdrop/
booklore/mariadb/