services:
  duckdns:
    image: lscr.io/linuxserver/duckdns:latest
    container_name: duckdns
    environment:
      - TZ=Europe/Amsterdam
    env_file:
      - .env
    labels:
      - com.centurylinklabs.watchtower.enable=true
    restart: unless-stopped
